@using Newtonsoft.Json
@model WebApp.Models.Person

@{
    ViewData["Title"] = "Add Person";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h1>@ViewData["Title"]</h1>

<form method="post" asp-action="Add" id="personForm">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Name">Person Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Surname">Person Surname</label>
            <input asp-for="Surname" class="form-control" />
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="Age">Age</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="Address">Address</label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="PositionId">PositionId</label>
            <input asp-for="PositionId" class="form-control" id="positionSelect" />
            <span asp-validation-for="PositionId" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="SalaryId">SalaryId</label>
            <input asp-for="SalaryId" class="form-control" id="salarySelect" />
            <span asp-validation-for="SalaryId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="BirthDay">BirthDay</label>
            <input type="date" asp-for="BirthDay" class="form-control" />
            <span asp-validation-for="BirthDay" class="text-danger"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="City">City</label>
            <input type="text" asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

