<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogLevel="Trace"
      internalLogFile="D:\Documents\GitHub\TEC-Internship-Miruna-Curduman\v2\ApiApp\logs\internal-nlog.txt">
	<targets>
		<target xsi:type="File" name="infofile" fileName="D:\Documents\GitHub\TEC-Internship-Miruna-Curduman\v2\ApiApp\logs\info-log.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target xsi:type="File" name="warnfile" fileName="D:\Documents\GitHub\TEC-Internship-Miruna-Curduman\v2\ApiApp\logs\warn-log.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target xsi:type="File" name="errorfile" fileName="D:\Documents\GitHub\TEC-Internship-Miruna-Curduman\v2\ApiApp\logs\error-log.txt"
				layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
		<target xsi:type="Console" name="logconsole" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="infofile,logconsole" />
		<logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="warnfile,logconsole" />
		<logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="errorfile,logconsole" />
	</rules>
</nlog>
